<a href="https://colab.research.google.com/github/chandans1991/chandan-kumar-singh/blob/master/AccenturePy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# This is a single line comment...

In [0]:
'''
This is a multi-line
comment in the
program
'''

In [0]:
"""
This another
multi-line text
in my code
"""

In [0]:
num1 = 1000
num2 = 2000
total = num1 + num2

In [0]:
print ('Doing addition operation...')
print ("Sum of {} and {} is {}...".format(num1,num2,total))
print ("Sum of {0} and {1} is {2}...".format(num1,num2,total))
print ("Sum of {2} and {1} is {0}...".format(total,num2,num1))
print ("Sum of {fnum} and {snum} is {tot}...".format(fnum=num1,\
                                snum=num2,tot=total))
print ("Sum of {fnum} and {snum} is {tot}...".format(tot=total,\
                                            fnum=num1,snum=num2))
print ("Sum of %d and %d is %d..."%(num1,num2,total))
print ("Sum of",num1,"and",num2,"is",total,"...")
print ("Sum of "+str(num1)+" and "+str(num2)+" is "+str(total)+"...")

Doing addition operation...
Sum of 1000 and 2000 is 3000...
Sum of 1000 and 2000 is 3000...
Sum of 1000 and 2000 is 3000...
Sum of 1000 and 2000 is 3000...
Sum of 1000 and 2000 is 3000...
Sum of 1000 and 2000 is 3000...
Sum of 1000 and 2000 is 3000 ...
Sum of 1000 and 2000 is 3000...

In [0]:
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
total = num1 + num2
print ("So the sum of {} and {} is {}".format(num1,num2,total))

Please enter the first number --> chandan

ValueError: ignored

In [0]:
print ("5 + 2 = ",(5 + 2))      # addition operation
print ("5 - 2 = ",(5 - 2))      # subtraction operation
print ("5 * 2 = ",(5 * 2))      # multiplication operation
print ("5 / 2 = ",(5 / 2))      # division operation
print ("5 // 2 = ",(5 // 2))    # integer division operation
print ("5 ** 2 = ",(5 ** 2))    # exponentiation operation
print ("5 % 2 = ",(5 % 2))      # modulus operation

5 + 2 =  7
5 - 2 =  3
5 * 2 =  10
5 / 2 =  2.5
5 // 2 =  2
5 ** 2 =  25
5 % 2 =  1

In [0]:
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
print ("M A I N  M E N U ...") 
print ("--------------------") 
print ("1 > A D D I T I O N  O P E R A T I O N ...")
print ("2 > S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 > D I V I S I O N  O P E R A T I O N ...")
print ("4 > M U L T I P L I C A T I O N  O P E R A T I O N ...")
choice = int (input("Please enter your choice --> "))
if (choice is 1):
    total = num1 + num2
    print ("So the sum of {} and {} is {}...".format(num1,num2,total))
elif (choice == 2):
    total = num1 - num2
    print ("So the difference of {} and {} is {}...".format(num1,num2,total))
elif (choice == 3):
    if (num2 != 0):
        total = num1 / num2
        print ("So the quotient of {} and {} is {}...".format(num1,num2,total))
    else:
        print ("Division by ZERO is illegal...!!!")
elif (choice == 4):
    total = num1 * num2
    print ("So the product of {} and {} is {}...".format(num1,num2,total))
else:
    print ("Invalid choice value has been provided...")
print ("End of the program...")

Please enter the first number --> 25
Please enter the second number --> 34
M A I N  M E N U ...
--------------------
1 > A D D I T I O N  O P E R A T I O N ...
2 > S U B T R A C T I O N  O P E R A T I O N ...
3 > D I V I S I O N  O P E R A T I O N ...
4 > M U L T I P L I C A T I O N  O P E R A T I O N ...
Please enter your choice --> 15
Invalid choice value has been provided...
End of the program...

In [0]:
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
num3 = int(input("Please enter the third number --> "))
print ("So the maximum number is --> ")
if (num1 > num2):
    if (num1 > num3):
        print (num1)
    else:
        print (num3)
elif (num2 > num3):
    print (num2)
else:
    print (num3)
print ("End of the program...")

Please enter the first number --> 55
Please enter the second number --> 21
Please enter the third number --> 31
So the maximum number is -->
55
End of the program...

In [0]:
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
num3 = int(input("Please enter the third number --> "))
print ("So the maximum number is --> ")
if (num1 >= num2 and num1 >= num3):
    print (num1)
elif (num2 >= num3):
    print (num2)
else:
    print (num3)
print ("End of the program...")

Please enter the first number --> 22
Please enter the second number --> 33
Please enter the third number --> 44
So the maximum number is -->
44
End of the program...

In [21]:
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
num3 = int(input("Please enter the third number --> "))
print ("So the second maximum is --> ")
if (num1 >= num2):
    max1 = num1
    max2 = num2
else:
    max1 = num2
    max2 = num1
    
if (num3 >= max1):
    print (max1)
elif (num3 >= max2):
    print (num3)
else:
    print (max2)
print ("End of the program...")

Please enter the first number --> 253
Please enter the second number --> 3265
Please enter the third number --> 265
So the second maximum is -->
265
End of the program...

In [0]:
i = 1
while i <= 8:
    print ("Executing for i =",i)
    # i = i + 2
    i += 2
print ("Finally i = ",i)
print ("End of the program...")

Executing for i = 1
Executing for i = 3
Executing for i = 5
Executing for i = 7
Finally i =  9
End of the program...

In [0]:
print ("Visit Doctor...")
day = 1
medi_count = 0
while (day <= 5):
    print ("Good morning...")
    medi = 1
    while (medi <= 3):
        print ("Day number =",day,"Medicine number =",medi)
        medi_count += 1
        medi += 1
    print ("Good Night...")
    day += 1
print ("Thanks Doctor...")
print ("So the total medicine count =",medi_count)

Visit Doctor...
Good morning...
Day number = 1 Medicine number = 1
Day number = 1 Medicine number = 2
Day number = 1 Medicine number = 3
Good Night...
Good morning...
Day number = 2 Medicine number = 1
Day number = 2 Medicine number = 2
Day number = 2 Medicine number = 3
Good Night...
Good morning...
Day number = 3 Medicine number = 1
Day number = 3 Medicine number = 2
Day number = 3 Medicine number = 3
Good Night...
Good morning...
Day number = 4 Medicine number = 1
Day number = 4 Medicine number = 2
Day number = 4 Medicine number = 3
Good Night...
Good morning...
Day number = 5 Medicine number = 1
Day number = 5 Medicine number = 2
Day number = 5 Medicine number = 3
Good Night...
Thanks Doctor...
So the total medicine count = 15

In [0]:
for i in range(10,2,-2):
    print ("i = ",i)
print ("Finally i = ",i)
print ("End of the program...")

i =  10
i =  8
i =  6
i =  4
Finally i =  4
End of the program...

In [22]:
print ("Visit Doctor...")
medi_count = 0
for day in range(1,6):
    print ("Good morning...")
    for medi in range(1,4):
        print ("Day number =",day,"Medicine number =",medi)
        medi_count += 1
    print ("Good Night...")
print ("Thanks Doctor...")
print ("So the total medicine count =",medi_count)

Visit Doctor...
Good morning...
Day number = 1 Medicine number = 1
Day number = 1 Medicine number = 2
Day number = 1 Medicine number = 3
Good Night...
Good morning...
Day number = 2 Medicine number = 1
Day number = 2 Medicine number = 2
Day number = 2 Medicine number = 3
Good Night...
Good morning...
Day number = 3 Medicine number = 1
Day number = 3 Medicine number = 2
Day number = 3 Medicine number = 3
Good Night...
Good morning...
Day number = 4 Medicine number = 1
Day number = 4 Medicine number = 2
Day number = 4 Medicine number = 3
Good Night...
Good morning...
Day number = 5 Medicine number = 1
Day number = 5 Medicine number = 2
Day number = 5 Medicine number = 3
Good Night...
Thanks Doctor...
So the total medicine count = 15

In [0]:
print ("Hello")
print ("World")

Hello
World

In [0]:
print ("Hello",end=" ")
print ("World")
print ("India")

Hello World
India

In [0]:
print ("Hello")
print ("World " * 5)

Hello
World World World World World

n = 5 (user given)
                i   .   *
              -------------
....*           1   4   1
...***          2   3   3    . => n - i
..*****         3   2   5    * => 2 * i - 1
.*******        4   1   7
*********       5   0   9
              -------------

In [0]:
n = int(input("Enter the number of layers --> "))
for i in range(1 , n+1):
    print ("." * (n-i), end="")
    print ("*" * (2 * i - 1))
print ("End of the program...")

n = 5 (user given)
                i   .   *
              -------------
*********       1   0   9
.*******        2   1   7    . => i - 1
..*****         3   2   5    * => 2 * (n - i) + 1
...***          4   3   3
....*           5   4   1
              -------------

In [0]:
n = int(input("Enter the number of layers --> "))
for i in range(1 , n + 1):
    print ("." * (i - 1), end="")
    print ("*" * (2 * (n - i) + 1))
print ("End of the program...")

n = 9 (odd only) (user given)   m = (n + 1) / 2 = 5
                i   .   *
              -------------
....*           1   4   1
...***          2   3   3    . => m - i
..*****         3   2   5    * => 2 * i - 1
.*******        4   1   7
*********     __5___0___9__
.*******        6   1   7
..*****         7   2   5    . => i - m
...***          8   3   3    * => 2 * (n - i) + 1
....*           9   4   1
              -------------

In [0]:
n = 0
while (n % 2 == 0):
    n = int(input("Please enter odd number of layers --> "))
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m):
        b = (i - m)
        s = 2 * (n - i) + 1
    else:
        b = (m - i)
        s = 2 * i - 1
    print ("." * b, end="")
    print ("*" * s)
print ("End of the program...")

In [0]:
# dealing with the break statement
i = 1
while (i <= 20):
    print ("i = ",i)
    if (i == 5):
        break
    i += 1
print ("End of the program...")

In [0]:
# finding all prime numbers from 1 to 100
for num in range(3, 20):
    for myfactor in range(2, num):
        if (num % myfactor == 0):
            break   
    if (myfactor == (num - 1)):
        print (num,"is a Prime Number...")
print ("End of the program...")

In [0]:
# dealing with continue statement...
for num in range(1,20):
    if (num % 2 != 0):
        continue
    print ("num = ", num)
print ("End of the program...")

In [0]:
def myFunction1():
    print ("Hello " * 5)
    
def myFunction2(num):
    print ("Hello " * num)

def myFunction3(num):
    return ("Hello " * num)
    
myFunction1()
myFunction2(8)
myFunction2(3)
myStr = myFunction3(4)
print (myStr)
print (myFunction3(7))

In [0]:
def myFunction4(arg1 = 111,arg2 = 222,arg3 = 333):
    print ("arg1 = ",arg1,"arg2 = ",arg2,"arg3 = ",arg3)
    
myFunction4(100,200,300)
myFunction4(100,200)
myFunction4(100)
myFunction4()
myFunction4(arg3=300,arg1=100)

In [0]:
def myFunction5(num1,num2):
    add = num1 + num2
    sub = num1 - num2
    mul = num1 * num2
    div = num1 / num2
    return (add,sub,mul,div)

num1 = int (input("Please enter the first number --> "))
num2 = int (input("Please enter the second number --> "))
summ,diff,prod,quot = myFunction5(num1,num2)
print ("So the total is",summ)
print ("So the difference is",diff)
print ("So the product is",prod)
print ("So the quotient is",quot)

In [0]:
def myFunction6(num1, num2 = None):
    if (num2 == None):
        return (2 * num1)
    else:
        return (num1 * num2)
print ("So result is: ",myFunction6(100,40))
print ("So result is: ",myFunction6(100))

In [0]:
mySquare = lambda num1: num1 * num1
print ("So the square of {} is {}".format(5,mySquare(5)))

In [0]:
myTotal = lambda num1,num2: num1 + num2
print ("So the sum of {} and {} is {}".format(50,60,myTotal(50,60)))

In [0]:
# dealing with non-recursive function...
# calculating factorial of a given number...
def factorial_nr(num):
    fact = num
    for i in range(2, num):
        fact = fact * i
    return fact
        
n = int(input("Please enter an integer --> "))
fact_calculated = factorial_nr(n)
print ("So the factorial of {} is {}".format(n,fact_calculated))
print ("End of the program...")

In [0]:
# dealing with non-recursive function...
# calculating factorial of a given number...
def factorial_r(num):
    if (num == 0 or num == 1):      # base case
        return 1
    return num * factorial_r(num - 1)
        
n = int(input("Please enter an integer --> "))
fact_calculated = factorial_r(n)
print ("So the factorial of {} is {}".format(n,fact_calculated))
print ("End of the program...")

In [0]:
n = int (input("Please enter an integer --> "))
choice = input("Please mention Recursive(r) or Non-Recursive(nr) --> ")
if (choice == "r"):
    fact_calculated = factorial_r(n)
else:
    fact_calculated = factorial_nr(n)
print ("So factorial of {} is {}...".format(n,fact_calculated))
print ("End of the program...")

In [0]:
# dealing with numbers...
import math
a = 4.6
print (math.ceil(a))
print (math.floor(a))
b = 9
print (math.sqrt(b))
print (math.exp(3.0))
print (math.log(2.0))
print (math.pow(2.0,3.0),2.0 ** 3.0)
print (math.sin(0))
print (math.cos(0))
print (math.tan(45))
print (abs(-45))
mySqrt = math.sqrt
print (mySqrt(16))

5
4
3.0
20.085536923187668
0.6931471805599453
8.0 8.0
0.0
1.0
1.6197751905438615
45
4.0

In [0]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [0]:
# dealing with Strings...
# dealing with string slicing...
#           str ->  u  n  i  v  e  r  s  i  t  y
# Left to Right ->  0  1  2  3  4  5  6  7  8  9
# Right to Left ->-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

str = "university"
print (str)
print (str[0:3],str[0:6],str[:6],str[:-4],str[:-4:1])
print (str[0::2],str[3:])
print (str[3:8],str[-7:-2],str[3:-2],str[-7:8])
print (str[::-1])

university
uni univer univer univer univer
uiest versity
versi versi versi versi
ytisrevinu

In [0]:
str = "university"
for char in str:
    print (char)

u
n
i
v
e
r
s
i
t
y

In [0]:
str = "caLCutTa unIVerSitY"
print (str)
print (str.capitalize())
print (str.upper())
print (str.lower())

caLCutTa unIVerSitY
Calcutta university
CALCUTTA UNIVERSITY
calcutta university

In [0]:
str = "1234"
print (str.isalnum(),str.isalpha(),str.isdigit(),str.isnumeric())
str = "abcd"
print (str.isalnum(),str.isalpha(),str.isdigit(),str.isnumeric())
str = "1234abcd"
print (str.isalnum(),str.isalpha(),str.isdigit(),str.isnumeric())
str = "abc@gmail.com"
print (str.isalnum(),str.isalpha(),str.isdigit(),str.isnumeric())

True False True True
True True False False
True False False False
False False False False

In [0]:
str = "good morning"
print (str)
str = str.replace("morning","night")
print (str)

good morning
good night

In [0]:
str = "ram is a good boy"
print (str.find("good"))
print (str.find("bad"))
print (str.find("good",7,20))
print (str.find("good",10,20))

9
-1
9
-1

In [0]:
str = "ram is a good boy"
try:
    print (str.index("good"))
    print (str.index("bad"))
except ValueError:
    print ("Unsuccessful searching...")
print ("End of the program")

9
Unsuccessful searching...
End of the program

In [0]:
mystr = "Hi!!! goOd morning to all my GOod students"
pattern = "GooD"
mystr = mystr.lower()
pattern = pattern.lower()
start_position = 0
result = 0
count = 0
while (result != -1):
    result = mystr.find(pattern,start_position)
    if result != -1:
        print ("Pattern found at index number is",result)
        count += 1
        start_position = result + 1
print ("{} has occurred for {} number of times.".format(pattern,count))
print ("End of the program...")

Pattern found at index number is 6
Pattern found at index number is 29
good has occurred for 2 number of times.
End of the program...

In [0]:
mystr = "charity begins at home"
print (mystr.endswith("begins"))
print (mystr.endswith("begins",0,14))
print (mystr.endswith("begins",3,14))
print (mystr.endswith("begins",0,15))

False
True
True
False

In [0]:
mystr = "charity begins at home"
print (mystr.startswith("begins"))
print (mystr.startswith("begins",8))
print (mystr.startswith("begins",8,20))
print (mystr.startswith("begins",10,20))

False
True
True
False

In [0]:
mystr1 = "  "
mystr2 = "Welcome"
print (mystr1.isspace(),mystr2.isspace())
print (len(mystr1),len(mystr2))

True False
2 7

In [0]:
mystr1 = "    welcome       back  "
print (len(mystr1),mystr1.strip(),len(mystr1.strip()))
print (len(mystr1),mystr1.lstrip(),len(mystr1.lstrip()))
print (len(mystr1),mystr1.rstrip(),len(mystr1.rstrip()))

24 welcome       back 18
24 welcome       back   20
24     welcome       back 22

In [0]:
mystr1 = "@@#@welcome##@##"
print (len(mystr1),mystr1.strip("@#"),len(mystr1.strip("@#")))
print (len(mystr1),mystr1.lstrip("@#"),len(mystr1.lstrip("@#")))
print (len(mystr1),mystr1.rstrip("@#"),len(mystr1.rstrip("@#")))

16 welcome 7
16 welcome##@## 12
16 @@#@welcome 11

In [0]:
mystr1 = "   @@#@welcome##@##  "
print (mystr1.strip())
print (mystr1.strip().strip("@#"))

@@#@welcome##@##
welcome

In [0]:
# Class Assignment -
# Please take one word from the keyboard as input and count the number
# of vowels and consonants.
# Example - Input: "University"
#          Output: Vowels: 4 and Consonants: 6
mystr1 = input("Please enter one word: ").lower()
print ("Input string is: ",mystr1)
vcount = 0
for char in mystr1:
    if (char=="a" or char=="e" or char=="i" or char=="o" or char=="u"):
        vcount += 1
print ("So number of Vowels: {} and Consonants: {}...".\
       format(vcount,len(mystr1)-vcount))
print ("End of the program...")

In [0]:
myStr = "charity begins at home"
myList = myStr.split()
print (myStr)
print (myList)

In [0]:
num1 = 100
num2 = 200

In [0]:
print (num1)
print (num2)

# This line staring with one hash symbol

## This line staring with two hash symbols

### This line staring with three hash symbols

#### This line staring with four hash symbols

###### This line staring with six hash symbols

In [0]:
# dealing with lists...
grocery_list = ["juice","potatoes","bananas"]
print (grocery_list)
print (grocery_list[0])
print (grocery_list[0:3])
print (grocery_list[1:3])
print (grocery_list[-3:-1])
print (grocery_list[0][1:3])
print (grocery_list[1][3])

['juice', 'potatoes', 'bananas']
juice
['juice', 'potatoes', 'bananas']
['potatoes', 'bananas']
['juice', 'potatoes']
ui
a

In [0]:
my_list = ["welcome", 100, 45.67, True]
print (my_list)

['welcome', 100, 45.67, True]

In [0]:
other_events = ["wash car","pick up kids","cash check"]
to_do_list = [other_events, grocery_list]
print (other_events, len(other_events))
print (to_do_list, len(to_do_list))
print (to_do_list[0],to_do_list[0][1],to_do_list[0][1][5:7])

['wash car', 'pick up kids', 'cash check'] 3
[['wash car', 'pick up kids', 'cash check'], ['juice', 'potatoes', 'bananas']] 2
['wash car', 'pick up kids', 'cash check'] pick up kids up

In [0]:
print (grocery_list)
grocery_list.append("onion")
print (grocery_list)

['juice', 'potatoes', 'bananas']
['juice', 'potatoes', 'bananas', 'onion']

In [0]:
print (grocery_list)
grocery_list.insert(1,"pickle")
print (grocery_list)

['juice', 'potatoes', 'bananas', 'onion']
['juice', 'pickle', 'potatoes', 'bananas', 'onion']

In [0]:
print (grocery_list)
grocery_list.remove("pickle")
print (grocery_list)

['juice', 'pickle', 'potatoes', 'bananas', 'onion']
['juice', 'potatoes', 'bananas', 'onion']

In [0]:
print (grocery_list)
grocery_list.remove("garlic")
print (grocery_list)

['juice', 'potatoes', 'bananas', 'onion']

ValueError: list.remove(x): x not in list

In [0]:
print (grocery_list)
sorted_list = grocery_list.sort()
print (grocery_list,sorted_list)

['juice', 'potatoes', 'bananas', 'onion']
['bananas', 'juice', 'onion', 'potatoes'] None

In [0]:
num_list = [22,55,33,66,44,77,99,88,11]
print (num_list)
num_list.sort()
print (num_list)
num_list.reverse()
print (num_list)

[22, 55, 33, 66, 44, 77, 99, 88, 11]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [0]:
myStr = "charity begins at home"
myList = myStr.split()
output_str = ""
for word in myList:
    word = word.capitalize()
    print (word)
    output_str = output_str + word + " "
output_str = output_str.strip()
print ("Resultant processed string is: ",output_str)
print ("End of the program...")

Charity
Begins
At
Home
Resultant processed string is:  Charity Begins At Home
End of the program...

In [0]:
print (grocery_list)
print (other_events)
to_do_list1 = grocery_list + other_events
to_do_list2 = [grocery_list,other_events]
print (to_do_list1)
print (to_do_list2)

['bananas', 'juice', 'onion', 'potatoes']
['wash car', 'pick up kids', 'cash check']
['bananas', 'juice', 'onion', 'potatoes', 'wash car', 'pick up kids', 'cash check']
[['bananas', 'juice', 'onion', 'potatoes'], ['wash car', 'pick up kids', 'cash check']]

In [0]:
print (grocery_list)
del grocery_list[2]
print (grocery_list)

['bananas', 'juice', 'onion', 'potatoes']
['bananas', 'juice', 'potatoes']

In [0]:
print (grocery_list)
del grocery_list
print (grocery_list)

['bananas', 'juice', 'potatoes']

NameError: name 'grocery_list' is not defined

In [0]:
num_list = [100,400,200,300]
print ("Length: ",len(num_list))
print ("Maximum Element: ",max(num_list))
print ("Minimum Element: ",min(num_list))
print ("Total: ",sum(num_list))
print ("Average: ",sum(num_list)/len(num_list))

Length:  4
Maximum Element:  400
Minimum Element:  100
Total:  1000
Average:  250.0

In [0]:
# Class Assignment -
# Please take one word from the keyboard as input and count the number
# of vowels and consonants.
# Example - Input: "University"
#          Output: Vowels: 4 and Consonants: 6
mystr1 = input("Please enter one word: ").lower()
print ("Input string is: ",mystr1)
vcount = 0
for char in mystr1:
    if (char in ["a","e","i","o","u"]):
        vcount += 1
print ("So number of Vowels: {} and Consonants: {}...".\
       format(vcount,len(mystr1)-vcount))
print ("End of the program...")

In [0]:
num_list = [11,22,33]
print (num_list)
num_list.append(44)
print (num_list)
num_list.extend([55,66,77])
print (num_list)

In [0]:
# Ask user for n number of numbers and put them in a list and print it
# Now split this list into two lists depending upon whether the element
# is even or odd.

In [0]:
num = int(input("Please enter number of numbers --> "))
num_list = []
for i in range(0,num):
    data = int(input("Please enter data number {} --> ".format(i + 1)))
    num_list.append(data)
print ("So the final input list is: ",num_list)
even_list = []
odd_list = []
for data in num_list:
    if (data % 2 == 0):
        even_list.append(data)
    else:
        odd_list.append(data)
print ("Even list: ",even_list)
print ("Odd list: ",odd_list)
print ("End of the program...")

Input List: [11,-22,55,-33,66,-77,44,-88]
Output Lists:
    All Positive: [11,22,55,33,66,77,44,88]
   Only Positive: [11,55,66,44]

In [0]:
num = int(input("Please enter number of numbers --> "))
num_list = []
for i in range(0,num):
    data = int(input("Please enter data number {} --> ".format(i + 1)))
    num_list.append(data)
print ("So the final input list is: ",num_list)
all_list = []
only_list = []
for data in num_list:
    all_list.append(abs(data))
    if (data >= 0):
        only_list.append(data)
print ("All positive element list: ",all_list)
print ("Only positive element list: ",only_list)
print ("End of the program...")

In [0]:
mystr = str(100)
print (mystr)
del mystr
print (mystr)

In [0]:
# dealing with tuple...
# unlike list tuple is immutable i.e. can not be changed after being
# created
my_tuple = (1,2,"amit","male",34)
print (my_tuple)
pi_tuple = (3,1,4,1,5,9)
print (pi_tuple)

(1, 2, 'amit', 'male', 34)
(3, 1, 4, 1, 5, 9)

In [0]:
print (pi_tuple[2])
pi_tuple[2] = 9

4

TypeError: 'tuple' object does not support item assignment

In [0]:
print (pi_tuple)
print (len(pi_tuple),max(pi_tuple),min(pi_tuple),sum(pi_tuple))

(3, 1, 4, 1, 5, 9)
6 9 1 23

In [0]:
pi_list = list(pi_tuple)
print (pi_list)
pi_list[2] = 9
print (pi_list)
pi_tuple = tuple(pi_list)
print (pi_tuple)

[3, 1, 4, 1, 5, 9]
[3, 1, 9, 1, 5, 9]
(3, 1, 9, 1, 5, 9)

In [0]:
# dealing with dictionary or maps
dict_fruit = {"banana":"yellow","apple":"red","guava":"green",
             "grape":"black","orange":"orange"}
print (dict_fruit)
print (dict_fruit.keys())
print (dict_fruit.values())
print (dict_fruit.items())

{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'black', 'orange': 'orange'}
dict_keys(['banana', 'apple', 'guava', 'grape', 'orange'])
dict_values(['yellow', 'red', 'green', 'black', 'orange'])
dict_items([('banana', 'yellow'), ('apple', 'red'), ('guava', 'green'), ('grape', 'black'), ('orange', 'orange')])

In [0]:
print (dict_fruit["guava"])
print (len(dict_fruit))
print (dict_fruit)
dict_fruit["pineapple"] = "yellow"
print (dict_fruit)
dict_fruit["grape"] = "green"
print (dict_fruit)

green
5
{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'black', 'orange': 'orange'}
{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'black', 'orange': 'orange', 'pineapple': 'yellow'}
{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'green', 'orange': 'orange', 'pineapple': 'yellow'}

In [0]:
print (dict_fruit)
for data in dict_fruit:
    print (data, end = " - ")
    print (dict_fruit[data])

In [0]:
print (dict_fruit["grape"])
print (dict_fruit.get("grape"))

green
green

In [0]:
print (dict_fruit)
del dict_fruit["pineapple"]
print (dict_fruit)

{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'green', 'orange': 'orange', 'pineapple': 'yellow'}
{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'green', 'orange': 'orange'}

In [0]:
print (dict_fruit)
del dict_fruit
print (dict_fruit)

In [0]:
dict_fruit = {"banana":"yellow","apple":"red","guava":"green",
             "grape":"black","orange":"orange"}
dict_fruit = {}
# dict_fruit_temp = dict_fruit
# print (dict_fruit, dict_fruit_temp)
# for data in dict_fruit_temp.keys():
#     print (data)
#     del dict_fruit[data]
# print (dict_fruit)

In [0]:
dict_fruit = {"banana":"yellow","apple":"red","guava":"green",
             "grape":"black","orange":"orange"}
print (dict_fruit)
dict_fruit.clear()
print (dict_fruit)

{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'black', 'orange': 'orange'}
{}

In [0]:
# dealing with set
# creating an empty set
empty_set = set()
empty_set

set()

In [0]:
# creating non-empty set
# creating set directly
languages = {"python","r","java"}
# creating a set from a list
snakes = set(["cobra","viper","python"])
print (languages)
print (snakes)

{'r', 'python', 'java'}
{'cobra', 'python', 'viper'}

In [0]:
print (len(languages),len(snakes))

3 3

In [0]:
# performing set intersection operation...
print (languages & snakes)
print (languages.intersection(snakes))

{'python'}
{'python'}

In [0]:
# performing set union operation...
print (languages | snakes)
print (languages.union(snakes))

{'cobra', 'viper', 'r', 'python', 'java'}
{'cobra', 'viper', 'r', 'python', 'java'}

In [0]:
# performing set difference operation...
print (languages - snakes)
print (languages.difference(snakes))
print (snakes - languages)
print (snakes.difference(languages))

{'r', 'java'}
{'r', 'java'}
{'cobra', 'viper'}
{'cobra', 'viper'}

In [0]:
# performing symmetric set difference operation...
print (languages.symmetric_difference(snakes))

{'viper', 'cobra', 'java', 'r'}

In [0]:
print (languages)
languages.add("r")
print (languages)
languages.add("c++")
print (languages)

{'r', 'python', 'java'}
{'r', 'python', 'java'}
{'r', 'python', 'java', 'c++'}

In [0]:
print (languages)
try:
    languages.remove("c++")
    print (languages)
    languages.remove("prolog")
    print (languages)
except KeyError as ke:
    print ("Error message:",ke)

{'r', 'python', 'java', 'c++'}
{'r', 'python', 'java'}
Error message: 'prolog'

In [0]:
languages.discard("c++")

In [0]:
print (languages)
print (languages.pop())
print (languages)

In [0]:
print (languages)
print (languages.pop())
print (languages)

In [0]:
languages = {"python","r","java","c++"}
print (languages)
for data in languages:
    print (data)
print (languages.pop())
print (languages.pop())
print (languages.pop())
print (languages.pop())
print (languages.pop())

In [0]:
languages = {"python","r","java","c++"}
print (languages)
languages.clear()
print (languages)

In [0]:
languages = {"python","r","java","c++"}
print (languages)
languages.add("kotlin")
languages.add("perl")
print (languages)
languages.update("go","android")
print (languages)

In [0]:
# Class Assignment:
# From a given list get a descending order sorted distinct element list
# Input: [22, 44, 44, 11, 22, 44, 33, 44]
# Output: [44, 33, 22, 11]

In [0]:
myList = [22, 44, 44, 11, 22, 44, 33, 44]
print (myList)
mySet = set(myList)
print (mySet)
myList = list(mySet)
print (myList)
myList.sort()
print (myList)
myList.reverse()
print (myList)

In [0]:
# dealing with exception
flag = True
while (flag):
    try:
        num1 = int(input("Enter first number: "))
        num2 = int(input("Enter second number: "))
        quot = num1 / num2
        print ("So {} / {} = {}...".format(num1,num2,quot))
    # except ArithmeticError as ae:
    except ZeroDivisionError as ae:
        print ("This statement is raising an exception...")
        print ("Error message: ",ae)
    except ValueError as ve:
        print ("String inputs are not allowed...")
        print ("Error message: ",ve)
    except:
        print ("Some error is hapenning...")
    else:
        print ("Smooth execution...")
        flag = False
print ("End of the program...")

In [0]:
try:
    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))
    a = num1 / num2
    print (a)
except ArithmeticError as ae:
    print ("Division by ZERO is Illegal...!!!")
else:
    print ("Smooth execution...")
finally:
    print ("Welcome")

print ("End of the program...")

In [0]:
try:
    num1 = int(input("Please enter a number between 10 to 20 --> "))
    if (num1 < 10):
        raise NameError("Entered number is below 10...")
    elif (num1 > 20):
        raise NameError("Entered number is above 20...")
    print ("Entered number is",num1)
except NameError as ne:
    print ("Error message :",ne)
print ("End of the program...")

In [0]:
a = 100                  # 100 = 64 + 32 + 4 = 0 1 1 0  0 1 0 0
b = 65                   # 65 = 64 + 1       = 0 1 0 0  0 0 0 1
                         #                     ----------------
                         #             a ^ b = 0 0 1 0  0 1 0 1 => 37
                         #             a | b = 0 1 1 0  0 1 0 1 => 101
                         #             a & b = 0 1 0 0  0 0 0 0 => 64
print (a, b, a & b, a | b, a ^ b, ~a)

In [0]:
# dealing with file I/O
# writing something on the file
test_file = open("student.txt","wb")
print ("File mode:",test_file.mode)
print ("File name:",test_file.name)
test_file.write(bytes("Student Name-1,\n","UTF-8"))
test_file.close()

In [0]:
# reading content from the data file...
test_file = open("student.txt","r+")
print ("File mode:",test_file.mode)
print ("File name:",test_file.name)
file_str = test_file.read()
print (file_str)
file_str = file_str.strip().rstrip(",")
print (file_str)
test_file.close()

In [0]:
num = int(input("Please enter the number of names --> "))
test_file = open("employee.txt","wb")
for i in range(0,num):
    emp_name = input("Enter employee name no."+str(i)+"-->")
    test_file.write(bytes(emp_name+",","UTF-8"))
test_file.close()
test_file = open("employee.txt","r+")
emp_list_str = test_file.read()
test_file.close()
emp_list_str.strip().rstrip(",")
print (emp_list_str,len(emp_list_str))
emp_list_str = emp_list_str[:len(emp_list_str)-1]
print (emp_list_str,len(emp_list_str))
emp_list = emp_list_str.split(",")
print (emp_list)
for emp_name in emp_list:
    print ("Employee Name: ",emp_name)
print ("End of the program...")

In [0]:
for i in [11,22,33,44]:
    if (i is 33):
        pass
        print ("print i =",i)
print ("End of the program...")

In [0]:
# dealing with Object Oriented Programming in Python
class myClass:
    __class_var1 = 111
    __class_var2 = 222
    def __init__(self,data1,data2):
        print ("Constructor method is executing...")
        self.__inst_var1 = data1
        self.__inst_var2 = data2
    def updateCV(self,value1,value2):
        myClass.__class_var1 = value1
        myClass.__class_var2 = value2
    def display(self):
        print ("Instance variable values are {} and {}".\
               format(self.__inst_var1,self.__inst_var2))
        print ("Class variable values are {} and {}".\
               format(myClass.__class_var1,myClass.__class_var2))
ob1 = myClass(100,200)
ob1.display()
ob1.updateCV(123,456)
ob2 = myClass(400,500)
ob2.display()

In [0]:
class Animal:
    def __init__(self,name,height,weight,sound):
        self.__name = name
        self.__height = height
        self.__weight = weight
        self.__sound = sound
    def get_name(self):
        return self.__name
    def set_name(self,name):
        self.__name = name
    def get_height(self):
        return self.__height
    def set_height(self,height):
        self.__height = height
    def get_weight(self):
        return self.__weight
    def set_weight(self,weight):
        self.__weight = weight
    def get_sound(self):
        return self.__sound
    def set_sound(self,sound):
        self.__sound = sound
    def get_type(self):
        print ("I am Animal...")
    def displayAnimal(self):
        return "{} is {} cm tall and {} KG. and says {}...".\
        format(self.__name,self.__height,self.__weight,self.__sound)
cat = Animal("White Cat",33,10,"Meow")
print(cat.displayAnimal())
cat.get_type()
print ("Name of the animal is",cat.get_name())

In [0]:
# dealing with inheritance...
class Dog(Animal):
    def __init__(self,name,height,weight,sound,owner):
        self.__owner = owner
        super(Dog,self).__init__(name,height,weight,sound)
    def get_owner(self):
        return self.__owner
    def set_owner(self,owner):
        self.__owner = owner
    def get_type(self):
        print ("I am Dog...")
    def displayDog(self):
        return ("{} is {} cm tall and {} KG. says {} and owner is {}".\
        format(self.get_name(),self.get_height(),self.get_weight(),
               self.get_sound(),self.get_owner()))
spot = Dog("Spot",53,27,"Ruff","Miller")
print (spot.displayDog())
spot.get_type()

In [0]:
# dealing with database
# creation of database and table
import sqlite3
# use database if it exists, otherwise create a new one
connection = sqlite3.connect("office_database.db")
print ("Connected with the database...")
# now create employee table, employee(emp_id,emp_name,city,salary)
sql = '''
CREATE TABLE employee (
emp_id INTEGER PRIMARY KEY,
emp_name TEXT,
city TEXT, salary REAL
);
'''
try:      # create the table under the database if it does not exist...
    connection.execute(sql)
    print ("Table created...")
except:
    pass

In [0]:
# inserting records from the csv file to the database table
import csv
# sql to insert records into employee table
sql="INSERT INTO employee VALUES({emp_id},'{name}','{city}','{salary}');"
# now reading rows from the csv file and storing then on to table
# here , is the delimiter
with open("emp_data.csv") as data_file:
    csv_reader = csv.reader(data_file)
    for row in csv_reader:
        connection.execute(sql.format(emp_id=row[0],name=row[1],
                                     city=row[2],salary=row[3]))
connection.commit()   # commit after inserting data
print ("Data inserted...")

In [0]:
# Retrieving data from the database table
sql = "SELECT * FROM employee;"
table = connection.execute(sql)
for row in table:
    print ("Emp ID: "+str(row[0])+" Name: "+str(row[1])+
            " City: "+str(row[2])+" and Salary: "+str(row[3]))

In [0]:
# Retrieving data from the database table for those records where salary
# is greater than 30000
sql = "SELECT * FROM employee WHERE salary > 30000;"
table = connection.execute(sql)
for row in table:
    print ("Emp ID: "+str(row[0])+" Name: "+str(row[1])+
            " City: "+str(row[2])+" and Salary: "+str(row[3]))

In [0]:
# updating records
# Update salary of employees to 30000 where city is chennai
sql="UPDATE employee SET salary = 30000 WHERE city = 'Chennai';"
table = connection.execute(sql)
connection.commit()
# Retrieving data from the database table after update...
sql = "SELECT * FROM employee;"
table = connection.execute(sql)
for row in table:
    print ("Emp ID: "+str(row[0])+" Name: "+str(row[1])+
            " City: "+str(row[2])+" and Salary: "+str(row[3]))

In [0]:
# deleting records of the table
sql = "DELETE FROM employee WHERE city = 'Kolkata';"
table = connection.execute(sql)
connection.commit()
# Retrieving data from the database table
sql = "SELECT * FROM employee;"
table = connection.execute(sql)
for row in table:
    print ("Emp ID: "+str(row[0])+" Name: "+str(row[1])+
            " City: "+str(row[2])+" and Salary: "+str(row[3]))
connection.close()

In [0]:
def enum(**enums):
    return type('Enum', (), enums)
 
Numbers = enum(ONE=1,TWO=2, THREE=3, FOUR=4, FIVE=5, SIX=6)
print(Numbers.ONE)
print (Numbers.SIX)

1
6

In [0]:
num = int (input("Enter number of terms..."))
my_list = []
for i in range(0,num):
    data = int(input("Enter data --> "))
    my_list.append(data)
maxdata = max(my_list)
mindata = min(my_list)
print (my_list,maxdata,mindata)
total = 0
count = 0
for data in my_list:
    if (data != maxdata and data != mindata):
        total = total + data
        count += 1
print (total,count)
print ("So the required average = ",total/count)

Enter number of terms... 7
Enter data -->  100
Enter data -->  200
Enter data -->  500
Enter data -->  100
Enter data -->  300
Enter data -->  500
Enter data -->  100

[100, 200, 500, 100, 300, 500, 100] 500 100
500 2
So the required average =  250.0