<a href="https://colab.research.google.com/github/chandans1991/chandan-kumar-singh/blob/master/AccentureProg1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# This is a line comment

In [1]:
'''
This is a 
multi-line text
can be used
as a comment line'''

'\nThis is a \nmulti-line text\ncan be used\nas a comment line'

In [8]:
"""
This is a multi-line
comment enclosed
in triple double quotes"""

'\nThis is a multi-line\ncomment enclosed\nin triple double quotes'

In [9]:
a = 100
b = 200
c = a + b
print ("So the sum of {} and {} is {}".format(a,b,c))
print ("So the sum of %d and %d is %d"%(a,b,c))
print ("So the sum of {0} and {1} is {2}".format(a,b,c))

So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300

In [10]:
print ("So the sum of {2} and {1} is {0}".format(c,b,a))
print ("So the sum of",a,"and",b,"is",c)
print ("So the sum of "+str(a)+" and "+str(b)+" is "+str(c))
print ("So the sum of {fnum} and {snum} is {fsum}".format(fnum=a,snum=b,fsum=c))
print ("So the sum of {fnum} and {snum} is {fsum}".format(fsum=c,fnum=a,snum=b))

So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300

In [11]:
a = 100
b = 35
result = a + b
print ("So the sum of {} and {} is {}".format(a,b,result))
result = a - b
print ("So the difference of {} and {} is {}".format(a,b,result))
result = a * b
print ("So the product of {} and {} is {}".format(a,b,result))
result = a / b
print ("So the quotient of {} and {} is {}".format(a,b,result))
result = a // b
print ("So after integer division the quotient of {} and {} is {}".format(a,b,result))
result = a % b
print ("So the remainder of the division of {} and {} is {}".format(a,b,result))
result = a ** 3
print ("So the exponentiation of {} and {} is {}".format(a,3,result))

So the sum of 100 and 35 is 135
So the difference of 100 and 35 is 65
So the product of 100 and 35 is 3500
So the quotient of 100 and 35 is 2.857142857142857
So after integer division the quotient of 100 and 35 is 2
So the remainder of the division of 100 and 35 is 30
So the exponentiation of 100 and 3 is 1000000

In [12]:
print (100 - 30 * 2)
print ((100 - 30) * 2)

40
140

In [13]:
user_name = input("Please enter the user name --> ")
age = int(input("Please enter your age --> "))
print ("So entered user name is {}".format(user_name))
print ("So the entered age is {}".format(age))
future_age = age + 10
print ("After 10 years your age will be {}".format(future_age))

Please enter the user name --> kjl
Please enter your age --> 52
So entered user name is kjl
So the entered age is 52
After 10 years your age will be 62

In [14]:
print ("Hello ")
print ("World...")

Hello
World...

In [15]:
print ("Hello ",end="")
print ("World...")

Hello World...

In [16]:
print ("Hello",end="-")
print ("World...")

Hello-World...

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
print ("\nHello" * 5)

Hello
Hello
Hello
Hello
Hello

In [18]:
age = int(input("Please enter your age --> "))
if (age <= 20):
    print ("You are too young...")
elif (age <= 60):
    print ("You are in middle age...")
    if (age < 40):
        print ("{} below 40...".format(age))
    else:
        print ("{} more than 40...".format(age))
else:
    print ("You are senior citizen...")
    print ("Avail some advantages...")
print ("End of the evaluation...")

KeyboardInterrupt: ignored

# This is a title with one #...

## This is a title with two #...

### This is a title with three #...

#### This is a title with four #...

In [0]:
# finding the maximum of two given number...
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
if (num1 > num2):
    max1 = num1
else:
    max1 = num2
print ("So the maximum of {} and {} is {}".format(num1,num2,max1))
print ("End of the program...")

In [0]:
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
num3 = int(input("Please enter the third number --> "))
if (num1 > num2):
    if (num1 > num3):
        max = num1
    else:
        max = num3
elif (num2 > num3):
    max = num2
else:
    max = num3
print ("So the maximum out of {}, {} and {} is {}".format(num1,num2,num3,max))
print ("End of the program...")

In [0]:
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
num3 = int(input("Please enter the third number --> "))
if ((num1 > num2) and (num1 > num3)):
    print ("So the maximum out of {}, {} and {} is {}".format(num1,num2,num3,num1))
elif (num2 > num3):
    print ("So the maximum out of {}, {} and {} is {}".format(num1,num2,num3,num2))
else:
    print ("So the maximum out of {}, {} and {} is {}".format(num1,num2,num3,num3))

In [0]:
# read three numbers from the user as input and find the second maximum one...
num1 = int(input("Please enter the first number --> "))
num2 = int(input("Please enter the second number --> "))
num3 = int(input("Please enter the third number --> "))
if (num1 > num2):
    max1 = num1
    max2 = num2
else:
    max1 = num2
    max2 = num1
if (num3 > max1):
    print ("Second maximum is {}".format(max1))
elif (num3 > max2):
    print ("Second maximum is {}".format(num3))
else:
    print ("Second maximum is {}".format(max2))
print ("End of the program...")

In [0]:
num = int(input("Please enter number of times --> "))
i = 1
while (i <= num):
    print ("Looping for i = {}".format(i))
    # i = i + 1
    i += 1
print ("End of the program...")

In [0]:
print ("Visit to doctor...")
d = 1
mcount = 0
while (d <= 7):
    print ("Day number --> {}".format(d))
    d += 1
    m = 1
    while (m <= 3):
        print ("Taking medicine number {}".format(m))
        m += 1
        mcount += 1
print ("Thanks for all your consultancy and service...")
print ("I had to purchase {} number of medicines...".format(mcount))

In [0]:
print ("Visit to doctor...")
d = 1
while (d <= 7):
    print ("Day number --> {}".format(d))
    d += 1
    print ("Medicine " * 3)
print ("Thanks for all your consultancy and service...")

n = 6 (user input)
                i    b    *
               -------------
.....*          1    5    1
....***         2    4    3    . => n - i
...*****        3    3    5
..*******       4    2    7    * => 2*i - 1
.*********      5    1    9
***********     6    0   11
               -------------

In [0]:
print ("Hello" * 5, end = "")
print ("World" * 5)

In [0]:
num = int(input("Please enter the number of layers --> "))
i = 1
while (i <= num):
    print ("." * (num - i),end="")
    print ("*" * (2*i - 1))
    i += 1
print ("End of the pattern...")

n = 11 (user odd input) m = (n + 1)/2 = 6
                i    b    *
               -------------
.....*          1    5    1
....***         2    4    3    . => m - i
...*****        3    3    5
..*******       4    2    7    * => 2 * i - 1
.*********      5    1    9
***********    _6____0___11_
.*********      7    1    9
..*******       8    2    7    . => i - m
...*****        9    3    5
....***        10    4    3    * => 2*(n-i)+1
.....*         11    5    1
               -------------

In [0]:
num = int(input("Please enter odd number of layers --> "))
m = (num + 1)//2
i = 1
while (i <= num):
    if (i > m):
        b = (i - m)
        s = 2*(num - i) + 1
    else:
        b = m - i
        s = 2 * i - 1
    print ("." * b, end = "")
    print ("*" * s)
    i += 1
print ("End of the pattern printing...")

n = 11 (user odd input) m = (n + 1)/2 = 6
                i    b    *
               -------------
***********     1    0   11
.*********      2    1    9    . => (i - 1)
..*******       3    2    7
...*****        4    3    5    * => 2 * (m - i) + 1
....***         5    4    3
.....*         _6____5____1_
....***         7    4    3
...*****        8    3    5    . => (n - i)
..*******       9    2    7
.*********     10    1    9    * => 2 * (i - m) + 1
***********    11    0   11
               -------------

In [0]:
num = 0
while (num % 2 == 0):
    num = int(input("Please enter odd number of layers --> "))
m = (num + 1) // 2
for i in range(1, num + 1):
    if (i > m):
        b = (num - i)
        s = 2 * (i - m) + 1
    else:
        b = i - 1
        s = 2 * (m - i) + 1
    print ("." * b, end = "")
    print ("*" * s)
print ("End of the pattern printing...")

In [0]:
for i in range(1,10):
    print ("i = ",i)

In [0]:
for i in [10,22,"arun",10,"hasan",11.25,-31]:
    print (i)

In [0]:
num = int(input("Please enter an integer --> "))
fact = num
for i in range(2,num):
    fact = fact * i
print ("So the factorial of {} is {}".format(num,fact))
print ("End of the program...")

In [0]:
def factorial_nr(n):
    fact = 1
    for i in range(1,num+1):
        fact = fact * i
    return fact
num = int(input("Please enter an integer --> "))
cal_fact = factorial_nr(num)
print ("So the factorial of {} is {}".format(num,cal_fact))
print ("End of the program...")

In [0]:
def factorial_r(n):
    if (n == 0 or n == 1):     # base case
        return 1
    return factorial_r(n - 1) * n     # n ! = (n - 1) ! * n

num = int(input("Please enter an integer --> "))
cal_fact = factorial_r(num)
print ("So the factorial of {} is {}".format(num,cal_fact))
print ("End of the program...")

In [0]:
num = int (input("Please enter one integer --> "))
ch = input("Mention Recursive (r) or Non-Recursive (nr) --> ")
if (ch == "r"):
    fact_cal = factorial_r(num)
else:
    fact_cal = factorial_nr(num)
print ("So the factorial of {} is {}".format(num,fact_cal))
print ("End of the program...")

In [0]:
# dealing with lambda functions...
my_func = lambda x: x * x
i = 1
while (i <= my_func(2)):
    print ("Hello")
    i += 1

In [0]:
# dealing with lambda functions...
my_func = lambda x, y: x * y
print (my_func(5,6))

In [0]:
# dealing with functions with default arguments...
def my_function(x = 111,y = 222,z = 333):
    print ("Values are x = {}, y = {} and z = {}".format(x,y,z))
my_function(100,200,300)
my_function(100,200)
my_function(100)
my_function()
my_function(y = 200,z = 300,x = 100)
my_function(z = 300,y = 200)

In [0]:
def my_function1(x,y = None):
    if (y is None):
        print ("Only one argument with x = {}".format(x))
    else:
        print ("All two arguments with x = {} and y = {}".format(x,y))
my_function1(100,200)
my_function1(100)

In [0]:
def my_function2(x,y):
    s = x + y
    d = x - y
    p = x * y
    q = x / y
    return s,d,p,q
total,diff,prod,quot = my_function2(100,30)
print ("So sum = {}, difference = {}, product = {} and quotient = {}".\
       format(total,diff,prod,quot))

In [0]:
#  u  n  i  v  e  r  s  i  t  y
#  0  1  2  3  4  5  6  7  8  9
#-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

mystr = "university"
print (mystr[0:7])
print (mystr[0:3])
print (mystr[-7:-4])
print (mystr[6:],mystr[-4:])
print (mystr[:6],mystr[:-4])
print (mystr[-1:-7:-1],mystr[-1:-7:-2])
print (mystr[::-1])
print (mystr[-2:-7:-1])

In [0]:
mystr = "caLcuTTa unIverSity"
print (mystr.capitalize())
print (mystr.upper())
print (mystr.lower())
print (len(mystr))

In [0]:
mystr = "123abc"
print (mystr.isalpha(),mystr.isnumeric(),mystr.isdigit(),mystr.isalnum())

In [0]:
mystr = "xyzabc"
print (mystr.isalpha(),mystr.isnumeric(),mystr.isdigit(),mystr.isalnum())

In [0]:
mystr = "123456"
print (mystr.isalpha(),mystr.isnumeric(),mystr.isdigit(),mystr.isalnum())

In [0]:
mystr = "123@abc"
print (mystr.isalpha(),mystr.isnumeric(),mystr.isdigit(),mystr.isalnum())

In [0]:
mystr = "hello good morning"
print (mystr.find("good"),mystr.find("Good"))
print (mystr.endswith("morning"),mystr.endswith("good",0,10))
print (mystr.startswith("hello"),mystr.startswith("good",6,11),\
       mystr.startswith("good",6))

In [0]:
mystr = "hello good morning"
print (mystr.replace("morning","night"),"\n",mystr)
mystr = mystr.replace("morning","night")
print (mystr)

In [0]:
mystr = "hello good morning"
mywordlist = mystr.split(" ")
print (mywordlist)
for word in mywordlist:
    print (word)

In [0]:
mystr = "hello good morning"
print (mystr.find("good"),mystr.find("Good"))
print (mystr.index("good"),mystr.index("Good"))

In [0]:
mystr = "   university    "
print (mystr,len(mystr))
print (mystr.strip(),len(mystr.strip()))
print (mystr.lstrip(),len(mystr.lstrip()),len(mystr))
print (mystr.rstrip(),len(mystr.rstrip()),len(mystr))

In [0]:
mystr = "@@@university####"
print (mystr,len(mystr))
print (mystr.lstrip("@"),len(mystr.lstrip("@")),len(mystr))
print (mystr.rstrip("#"),len(mystr.rstrip("#")),len(mystr))

In [0]:
# count the number vowels and consonants in a given word...
myword = input("Please enter a word --> ")
# myword = myword.strip()
# myword = myword.lower()
myword = myword.lower().strip()
mystrlen = len(myword)
print (myword,mystrlen)
vcount = 0
for i in range(0,mystrlen):
    ch = myword[i:i+1]
    print ("Retrieved character is {}".format(ch))
    if (ch is "a" or ch is "e" or ch is "i" or ch is "o" or ch is "u"):
        vcount += 1
print ("So vowel count = {} and consonant count = {}".format(vcount,mystrlen-vcount))
print ("End of the program...")

In [0]:
# count the number vowels and consonants in a given word...
myword = input("Please enter a word --> ")
# myword = myword.strip()
# myword = myword.lower()
myword = myword.lower().strip()
mystrlen = len(myword)
print (myword,mystrlen)
vcount = 0
vowel_list = ["a","e","i","o","u"]
for i in range(0,mystrlen):
    ch = myword[i:i+1]
    print ("Retrieved character is {}".format(ch))
    if (ch in vowel_list):
        vcount += 1
print ("So vowel count = {} and consonant count = {}".format(vcount,mystrlen-vcount))
print ("End of the program...")

In [0]:
# dealing with numbers
import math

In [0]:
a = 4.6
print (math.ceil(a))
print (math.floor(a))
b = 9
print (math.sqrt(b))
print (math.exp(3.0))
print (math.log(2.0))
print (math.pow(2.0,3.0),2.0 ** 3.0)
print (math.sin(0))
print (math.cos(0))
print (math.tan(45))
print (abs(-45))

In [0]:
# dealing with the list....
grocery_list = ["juice","tomatoes","potatoes","bananas"]
print (grocery_list)

In [0]:
print ("So the first item is : ",grocery_list[0])
grocery_list[0] = "green juice"
print (grocery_list)
print (grocery_list[1:3])
print (grocery_list[-3:-1])

In [0]:
other_events = ["wash car","pick up kids","cash check"]
print (other_events)
print (grocery_list)
to_do_list = [other_events,grocery_list]
print (to_do_list)
print (to_do_list[0])
print (to_do_list[1])
print (to_do_list[1][1])
print (len(to_do_list))
print (len(to_do_list[1]))

In [0]:
print (grocery_list)
grocery_list.append("onion")
print (grocery_list)
grocery_list.insert(1,"pickle")
print (grocery_list)

In [0]:
print (grocery_list)
grocery_list.sort()
print (grocery_list)

In [0]:
print (grocery_list)
grocery_list.remove("pickle")
print (grocery_list)

In [0]:
print (grocery_list)
grocery_list.reverse()
print (grocery_list)

In [0]:
print (grocery_list)
del grocery_list[2]
print (grocery_list)

In [0]:
print (grocery_list)
print (other_events)
to_do_list1 = [grocery_list, other_events]
to_do_list2 = grocery_list + other_events
print (to_do_list1)
print (to_do_list2)

In [0]:
print (len(to_do_list2))
print (max(to_do_list2))
print (min(to_do_list2))

In [0]:
my_list = []
print (my_list)
print (grocery_list)
del grocery_list
print (grocery_list)

In [0]:
num = int(input("Please enter the number of items --> "))
my_list = []
my_odd_list = []
my_even_list = []
for i in range(0,num):
    item = int(input("Please enter item value for index "+str(i)))
    my_list.append(item)
print ("Displaying the current content of my list...")
print (my_list)
print ("Now doing processing of my data...")
for item in my_list:
    if (item % 2 == 0):
        my_even_list.append(item)
    else:
        my_odd_list.append(item)
print ("So the processed even list is ",my_even_list)
print ("So the processed odd list is ",my_odd_list)
print ("End of the program...")

In [0]:
# Dealing with the tuples...
my_tuple = (1,2,"amit",34)
print (my_tuple)
pi_tuple = (3,1,4,1,5,9)
print (pi_tuple)

In [0]:
pi_tuple[2] = '8'     # assignment on tuple is not permitted

In [0]:
print ("Before tuple update : ",pi_tuple)
pi_list = list(pi_tuple)
print ("Before list update : ",pi_list)
pi_list[2] = 8
print ("After list update : ",pi_list)
pi_tuple = tuple(pi_list)
print ("After tuple update : ",pi_tuple)

In [0]:
print ("Length of the tuple =",len(pi_tuple))
print ("Maximum element of the tuple =",max(pi_tuple))
print ("Minimum element of the tuple =",min(pi_tuple))
print ("Element at index 2 is",pi_tuple[2])

In [0]:
# dealing with the dictionaries also called maps
# dictionary contains key and value pairs where all the keys must be distinct/unique
# dictionary should be enclosed with in second brackets i.e. {}

In [0]:
dict_fruit = {"banana":"yellow",
              "apple":"red",
              "guava":"green",
              "grape":"black",
              100:"orange"}
print (dict_fruit)

In [0]:
print (dict_fruit[100])
print (len(dict_fruit))

In [0]:
print (dict_fruit)
del dict_fruit["grape"]
print (dict_fruit)

In [0]:
dict_fruit["grape"] = "green"
print (dict_fruit)
print (dict_fruit.get("apple"))
print (dict_fruit["apple"])

In [0]:
print ("All dictionary keys are --> \n",dict_fruit.keys())
print ("All dictionary values are --> \n",dict_fruit.values())
print ("All dictionary items are --> \n",dict_fruit.items())

In [0]:
print (dict_fruit)
dict_fruit.clear()
print (dict_fruit)
del dict_fruit
print (dict_fruit)

In [0]:
# dealing with sets and its different manipulations...
# creating an empty set
empty_set = set()
print (empty_set)

In [0]:
# creating non-empty list
# creating a set directly
languages = {"python","r","java"}
# creating a set from a list
snakes = set(["cobra","viper","python"])
print (languages)
print (snakes)
print (len(languages))

In [0]:
print (languages)
"kotlin" in languages

In [0]:
print (languages)
"python" in languages

In [0]:
print (languages)
"kotlin" not in languages

In [0]:
print (languages)
print (snakes)
# performing the intersection operation...
print (languages & snakes)
print (languages.intersection(snakes))

In [0]:
print (languages)
print (snakes)
# performing the union operation...
print (languages | snakes)
print (languages.union(snakes))

In [0]:
print (languages)
print (snakes)
# performing the set difference operation...
print (languages - snakes)
print (languages.difference(snakes))

In [0]:
print (languages)
print (snakes)
# performing the set symmetric difference operation...
print (languages.symmetric_difference(snakes))

In [0]:
# adding new members in the set
print (languages)
languages.add("sql")
print (languages)
languages.add("r")
print (languages)
languages.add("r")
print (languages)

In [0]:
# removing elements from the set
print (languages)
languages.remove("java")
print (languages)

In [0]:
print (languages)
try:
    languages.remove("c++")
except KeyError as ke:
    print ("Error: ",ke)

In [0]:
languages.discard("c++")

In [0]:
print (languages)
languages.clear()
print (languages)

In [0]:
languages.update("122","344")
print (languages)

In [0]:
languages.update("go","spark")
print (languages)

In [0]:
# assignment: forming a list of distinct and sorted elepemts
my_list = [44,22,33,22,11,44,33,22,44]
print ("My original list is:",my_list)
my_list = sorted(set(my_list))
print ("My sorted and distinct element list is:",my_list)

In [0]:
# dealing with the database
# creation of database and table
import sqlite3                 # importing required module
# use the database if it pre-exists or create a new one
connection = sqlite3.connect("employee_database.db")
print ("Connected with the database")
# create employee table as employee (emp_id,emp_name,city,salary)
sql = '''
CREATE TABLE employee (
emp_id INTEGER PRIMAR KEY,
emp_name TEXT,
city TEXT,
salary REAL);
'''
try:    # create the table if it does not exist
    connection.execute(sql)
    print ("Table Created...")
except:
    print ("Error !!! Table couldn't be created...")

In [0]:
import csv

# inserting records form csv file to the table.
sql = "INSERT INTO employee VALUES ({emp_id},'{emp_name}','{city}','{salary}');"
# read lines from the csv file and store them into the table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader to read from data_file with ',' delimiter
    for row in csv_reader:   # from each row, take data and insert into the table
        connection.execute(sql.format(emp_id=row[0],emp_name=row[1],city=row[2],
                                      salary=row[3]))
        connection.commit()  # commit after inserting data to make change permanent
print ("All data are inserted...")

In [0]:
# Retrieving records from the database table
# SQL for fetching all records from the table
sql = 'SELECT * FROM employee;'
# read from table and point the cursor into the variable table
table = connection.execute(sql)
for row in table:
    print ("ID: "+str(row[0])+" Name: "+str(row[1])+" City: "+str(row[2])+
                                            " Salary: "+str(row[3])+"...")

In [0]:
# Retrieving records from the database table
# SQL for fetching name and city of those employees whose salary is greater than 30000
sql = 'SELECT * FROM employee where salary > 30000;'
# read from table and point the cursor into the variable table
table = connection.execute(sql)
for row in table:
    print ("Name: "+str(row[1])+" City: "+str(row[2])+"...")

In [0]:
# update operation on the records of the table
# update the salary to 30000 of those employees where city is Chennai
sql = "UPDATE employee SET salary = 30000 WHERE city = 'Chennai';"
table = connection.execute(sql)
connection.commit()     # after update do commit to make the change permanent

# SQL for fetching all records from the table
sql = 'SELECT * FROM employee;'
# read from table and point the cursor into the variable table
table = connection.execute(sql)
for row in table:
    print ("ID: "+str(row[0])+" Name: "+str(row[1])+" City: "+str(row[2])+
                                            " Salary: "+str(row[3])+"...")

In [0]:
# deleting records from the table
# delete those records where city = "Kolkata"
sql = "DELETE FROM employee WHERE city = 'Kolkata';"
table = connection.execute(sql)
connection.commit()  # after deletion making the change permanent through commit

# SQL for fetching all records from the table
sql = 'SELECT * FROM employee;'
# read from table and point the cursor into the variable table
table = connection.execute(sql)
for row in table:
    print ("ID: "+str(row[0])+" Name: "+str(row[1])+" City: "+str(row[2])+
                                            " Salary: "+str(row[3])+"...")

In [0]:
# dealing with the break statement
i = 0
while (i <= 10):
    print ("i =",i)
    if (i > 5):
        break
    i = i + 1
print ("End of the program...")

In [0]:
# dealing with the continue statement
i = 0
while (i <= 10):
    i = i + 1
    if (i == 5 or i == 7):
        continue
    print ("i =",i)
print ("End of the program...")

In [0]:
my_list = [ 11,22,33,44]
for data in my_list:
    print (data)
    pass          # pass is a statement which actually does nothing
    pass          # pass here can be used as place holder for future code insertion
print ("End of the program...")

In [0]:
# using random numbers...
import random
rand_num = random.randrange(0,20)
while (rand_num != 15):
    rand_num = random.randrange(0,20)
    print ("Current random number is --> ",rand_num)
print ("\nEnd of the program...")

In [0]:
# dealing with file I/O
# writing on file
test_file = open("mydatafile.txt","wb")
print (test_file.mode)
print (test_file.name)
test_file.write(bytes("Write this line on file\n","UTF-8"))
test_file.close()

In [0]:
help(open)

In [0]:
# reading from text file
test_file = open("mydatafile.txt","r+")   
# we can also use "ab+" to read and append to the file. It also opens/creates the file
text_in_file = test_file.read()
print (text_in_file)
test_file.close()

In [0]:
# deleating the file from the secondary storage
import os
os.remove("mydatafile.txt")

In [0]:
# dealing with the exceptions...
try:
    num1 = int(input("Please enter the first number --> ")) 
    num2 = int(input("Please enter the second number --> "))
    quot = num1 / num2
    print ("So the quotient of {} and {} is {}".format(num1,num2,quot))
except ArithmeticError:
    print ("Division by ZERO is Illegal...")
except ValueError:
    print ("Put only numeric values as input...")
except:
    print ("Illegal comuputation...")
else:
    print ("Successful completion of the computation...")
print ("End of the program...")

In [0]:
# dealing with the exceptions...
try:
    num1 = int(input("Please enter the first number --> ")) 
    num2 = int(input("Please enter the second number --> "))
    if (num1 < 0 or num2 < 0):
        raise NameError("Negative numbers...")
    quot = num1 / num2
    print ("So the quotient of {} and {} is {}".format(num1,num2,quot))
except NameError as ne:
    print ("Internal error has occurred with message --> "+str(ne))
except ArithmeticError:
    print ("Division by ZERO is Illegal...")
except ValueError:
    print ("Put only numeric values as input...")
except:
    print ("Illegal comuputation...")
else:
    print ("Successful completion of the computation...")
print ("End of the program...")

In [0]:
class MyClass1:
    __classVar1 = 0
    __classVar2 = 0
    def __init__(self,data1,data2,data3,data4):
        self.__instVar1 = data1
        self.__instVar2 = data2
        MyClass1.__classVar1 = data3
        MyClass1.__classVar2 = data4
    def displayData(self):
        print ("Instance variables are {} and {}".\
               format(self.__instVar1,self.__instVar2))
        print ("Class variables are {} and {}".\
               format(MyClass1.__classVar1,MyClass1.__classVar2))
    def updateCV(self,data1,data2):
        print ("Updating class variables...")
        MyClass1.__classVar1 = data1
        MyClass1.__classVar2 = data2
    def updateIV(self,data1,data2):
        print ("Updating instance variables...")
        self.__instVar1 = data1
        self.__instVar2 = data2
ob1 = MyClass1(100,200,300,400)
ob1.displayData()
print ("")
ob2 = MyClass1(111,222,333,444)
ob2.displayData()
print ("")
ob1.updateIV(30,40)
ob1.displayData()
ob2.displayData()
print ("")
ob1.updateCV(88,99)
ob1.displayData()
ob2.displayData()

In [0]:
# dealing with classes and objects
class Animal:
    def __init__(self,name,height,weight,sound):   # delcaring consturctor method
        self.__name = name
        self.__height = height
        self.__weight = weight
        self.__sound = sound
    # now declaring setter and getter methods for all respective instance variables
    def set_name(self,name):      # setter method for name attribute
        self.__name = name
    def get_name(self):           # getter method for name attribute
        return self.__name
    def set_height(self,height):  # setter method for height attribute
        self.__height = height
    def get_height(self):         # getter method for height attribute
        return self.__height
    def set_weight(self,weight):  # setter method for weight attribute
        self.__weight = weight
    def get_weight(self):         # getter method for weight attribute
        return self.__weight
    def set_sound(self,sound):    # setter method for sound attribute
        self.__sound = sound
    def get_sound(self):          # getter method for sound attribute
        return self.__sound
    def get_type(self):
        print ("Animal...")
    def toString(self):
        # return "{} is {} cm tall and {} KG weight and says {}".format(self.__name,
        #                self.__height,self.__weight,self.__sound)
        return "{} is {} cm tall and {} KG weight and says {}".format(self.get_name(),
                        self.get_height(),self.get_weight(),self.get_sound())
cat = Animal("White Cat",33,10,"Meow")
print (cat.toString())
cat.get_type()

White Cat is 33 cm tall and 10 KG weight and says Meow
Animal...

In [0]:
# dealing with the inheritance
class Dog(Animal):
    def __init__(self,name,height,weight,sound,owner):
        self.__owner = owner
        super(Dog,self).__init__(name,height,weight,sound)
    def set_owner(self,owner):
        self.__owner = owner
    def get_owner(self):
        return self.__owner
    def get_type(self):
        print ("Dog...")
    def toString(self):
        return "{} is {} cm tall and {} KG and says {} and owner is {}".format(\
                self.get_name(),self.get_height(),self.get_weight(),self.get_sound(),\
                self.__owner)
spot = Dog("Spot",53,27,"Ruff","Miller")
print (spot.toString())

Spot is 53 cm tall and 27 KG and says Ruff and owner is Miller

In [0]:
import random
help(random.randrange)

Help on method randrange in module random:

randrange(start, stop=None, step=1, _int=<class 'int'>) method of random.Random instance
    Choose a random item from range(start, stop[, step]).

    This fixes the problem with randint() which includes the
    endpoint; in Python this is usually not what you want.